body{
    margin: 0;
    background-image: url(/img/fondo.jpg);
    background-size: 100%;
}

header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(29, 125, 243);
    min-height: 70px;
    align-items: center;
    padding: 10px;
}

a{
    text-decoration: none;
    color: #000;
}

.logo{
    display: flex;
    align-items: center;
}

.logo img{
    height: 50px;
    margin-right: 10px;
}

nav a{
    font-weight: 600;
    padding-right: 10px;
}

nav a:hover{
    color: #ffff;
}
